@import "css/componentes/globales.styl"
@import "css/componentes/buscadores.styl"
@import "css/componentes/filtros.styl"
@import "css/componentes/cajas.styl"
@import "css/componentes/estadisticas.styl"
	
		
